html{
    height: 100%;
    overflow: hidden;
}
body{
    height: 100%;
    font-family: 'Neucha', cursive;
    background-color: #475cff;
    color: #ffffff;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@keyframes bg_flash_ani {
    0% {  background-color: #53ff47; }
    100% { background-color: #475cff; }
}
.bg_flash{
    animation-name: bg_flash_ani;
    animation-duration: 150ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;  
}

body.game_over{
    background-color: #ff6f47;
}
body.game_over .scores,         body.loaded .scores{        display: none;}
body.game_over .loading_images, body.loaded .loading_images{display: block;}
body.game_over .images,         body.loaded .images{        display: none;}
body.game_over .buttons,        body.loaded .buttons{       display: none;}
body.game_over .timing_bar,     body.loaded .timing_bar{    display: none;}
body.game_over .start,          body.loaded .end{           display: none;}

body.game_over .end,            body.loaded .start{         display: block;}

.good_bg{
    background-color: #53ff47;
}
.bad_bg{
    background-color: #ff6f47;
}

.timing_bar{
    height: 0%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    background-color: #53ff47;
    position: absolute;
    left: 0;
    top: 0;
}
.timing_bar_overlay{
    position: absolute;
    opacity:0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #ff6f47;
}

h1{
    font-size: 4em;
    text-align: center;
    margin: 30px 0 15px 0;
    padding: 0;
    text-shadow: 5px 5px black;
    transform: rotate(2deg);
    position: relative;
    z-index: 20;
}

.scores{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:2.5em;
    position:relative;
}
@keyframes new_score_grow {
    0% { 
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(9);
        opacity: 0;
    }
}
.new_score{
    position: absolute;
    font-weight: bold;
    font-size: 0.3em;
    animation-name: new_score_grow;
    animation-fill-mode: forwards;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;  
}

.loading_images{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:10;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.loading_images .image{
    height: 150px;
    width: 110px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #475cff;
    background-blend-mode: overlay;
    position: absolute;
    border: 3px solid #475cff;
    animation-name: fade_in;
    animation-fill-mode: forwards;
    animation-duration: 700ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;  
    opacity:1;
}

.images{
    margin-top: 15px;
    position:relative;
    z-index:30;
    position: relative;
}

.images .image{
    height: 400px;
    width: 300px;
    background-color: rgba(255,255,255,1);
    border: 2px solid rgba(0,0,0,1);
    margin-left: -150px;
    left:50%;
    position:absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index:40;
}
.button{
    background-color: #ffd829;
    border: 5px solid #FFE771;
    color: #000;
    padding: 10px 25px;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: none;
    transform:rotate(-2deg);
}
.button_dec{
    transform:rotate(4deg);
}
.button:focus{
    background-color: #ffd829;
}

.start{
    display: none;
    text-align: center;
    transform: rotate(-2deg);
    margin-top: 140px;
    position: relative;
    z-index: 50;
}

.intro_text{
    font-size: 2em;
    text-shadow: -1px 4px black;
    margin-left: 25px;
    margin-right: 25px;
}

.end{
    display: none;
    text-align: center;
    transform: rotate(-2deg);
    margin-top: 150px;
    z-index:50;
    position: relative;
}
.end h2{
    font-size: 2.7em;
    margin: 10px 0;
    text-shadow: 3px 3px black;
}
.end .button_play_again, .start .button_start{
    display: inline-block;
    background: #fff;
    padding: 15px 25px;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}