
/* ///////////////////////////////////////////////////// */
/* // Base layout                                        */
/* ///////////////////////////////////////////////////// */

html{
    height: 100%;
    overflow: hidden;
}
body{
    height: 100%;
    font-family: 'Neucha', sans-serif;
    background-color: #475cff;
    color: #ffffff;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* ///////////////////////////////////////////////////// */
/* // Core building blocks                               */
/* ///////////////////////////////////////////////////// */

.fullpage{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.butt{
    display: inline-block;
    background: #fff;
    padding: 7px 15px;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;  
}
.butt:focus, .butt:active{
    background: #000;
    color: #fff;
}

/* ///////////////////////////////////////////////////// */
/* // Animations                                         */
/* ///////////////////////////////////////////////////// */

@keyframes bg_flash_ani {
    0% {  background-color: #53ff47; }
    100% { background-color: #475cff; }
}
.bg_flash{
    animation-name: bg_flash_ani;
    animation-duration: 150ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;  
}

@keyframes new_score_grow {
    0% { 
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(9);
        opacity: 0;
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ///////////////////////////////////////////////////// */
/* // Colours                                            */
/* ///////////////////////////////////////////////////// */


.good_bg{
    background-color: #53ff47;
}
.bad_bg{
    background-color: #ff6f47;
}


/* ///////////////////////////////////////////////////// */
/* // Start screen                                       */
/* ///////////////////////////////////////////////////// */

body.is_start .hide_if_start{display:none;}

h1{
    font-size: 4em;
    text-align: center;
    margin: 30px 0 15px 0;
    padding: 0;
    text-shadow: 5px 5px black;
    transform: rotate(2deg);
    position: relative;
}

.loading_images{
    z-index:-10;
}
.loading_images .image{
    height: 150px;
    width: 110px;
    background: #475cff 50% 50% / cover no-repeat; 
    background-blend-mode: overlay;
    position: absolute;
    animation: fade_in 700ms linear 1 forwards; 
    opacity:1;
}

.start_text{
    text-align: center;
    transform: rotate(-2deg);
    margin-top: 90px;
    position: relative;
}
.start_text .button_start{
    padding: 15px 25px;
}

.intro_text{
    font-size: 2em;
    text-shadow: -1px 4px black;
    margin-left: 25px;
    margin-right: 25px;
}

.start_menu{
    position: absolute;
    bottom:10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.start_menu .butt{
    font-size:0.8em;
    margin: 0 3px;
    transform: rotate(-1deg);
}
.start_menu .butt:nth-of-type(2){
    transform: rotate(1deg);
}

.start .loading_bar_holder{
    width: 180px;
    border: 4px solid #fff;
    margin: 0 auto;
    height: 30px;
    padding: 5px;
    display:none;
}

.start .loading_bar{
    background-color: #fff;
    display: block;
    width: 0%;
    height: 100%;
}


.start.is_loading .button_start{
    display:none;
}
.start.is_loading .loading_bar_holder{
    display:block;
}

/* ///////////////////////////////////////////////////// */
/* // Playing screen                                     */
/* ///////////////////////////////////////////////////// */

body.is_playing .hide_if_playing{display:none;}

.timing_bar{
    height: 0%;
    width: 100%;
    background-color: #ff6f47;
    position: absolute;
    left: 0;
    top: 0;
}

.scores{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:4em;
    margin: 30px 0 15px 0;
    position:relative;
}
.score{
    text-shadow: 5px 5px black;
    transform: rotate(-1deg);
}
.new_score{
    position: absolute;
    font-weight: bold;
    font-size: 0.3em;
    animation: new_score_grow 600ms ease-out 1 forwards;
}

.images{
    margin-top: 15px;
    position:relative;
    z-index:30;
}
.images .image{
    height: 400px;
    width: 300px;
    background: rgba(255,255,255,1) 50% 50% / cover no-repeat;
    border: 2px solid rgba(0,0,0,1);
    margin-left: -150px;
    left:50%;
    position:absolute;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index:40;
}
.button{
    background-color: #ffd829;
    border: 5px solid #FFE771;
    color: #000;
    padding: 10px 25px;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: none;
    transform:rotate(-2deg);
}
.button_dec{
    transform:rotate(4deg);
}

/* ///////////////////////////////////////////////////// */
/* // Game over screen                                   */
/* ///////////////////////////////////////////////////// */

body.is_game_over .hide_if_game_over{display:none;}

body.is_game_over{
    background-color: #ff6f47;
}

.end .button_play_again{
    bottom: 20px;
    margin-top: 65px;
    font-size: 2.5em;
    transform: rotate(5deg);
}

.end_text{
    text-align: center;
    transform: rotate(-2deg);
    margin-top: 150px;
    z-index:50;
    position: relative;
    font-size: 0.8em;
}
.end_text h2{
    font-size: 2.7em;
    margin: 10px 0;
    text-shadow: 3px 3px black;
}
.end_text .button_add_highscore{
    transform: rotate(-6deg);
    right: 10px;
    position: absolute;
    font-size: 1.4em;
}
.end_text .image{
    height: 150px;
    width: 110px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #ff6f47;
    background-blend-mode: luminosity;
    position: absolute;
    left: 50%;
    margin-left: -55px;
    top: -150px;
    z-index: -5;
    border: 3px solid #fff;
}
.end_text .image:after{
    content: "X";
    position: absolute;
    font-size: 15em;
    text-align: center;
    left: -8px;
    top: -60px;
    color: #B72900;
    opacity: 0.7;
}
.end.hide_highscore_submit .hide_if_zero{
    display:none;
}

/* ///////////////////////////////////////////////////// */
/* // High score screen                                  */
/* ///////////////////////////////////////////////////// */

body                .show_if_highscore{display:none;}
body.is_highscore   .show_if_highscore{display:block;}

.highscore{
    display:none;
    background-color: #53ff47;
    z-index: 100;
    margin: 12px;
    color: #000;
    border: 10px solid #93FF8A;
    padding: 0px;
    overflow: visible;
}

.button_back{
    font-size:0.8em;
    position: absolute;
    left:-15px;
    top:-15px;
    transform: rotate(-5deg);
}

.highscore h1{
    text-shadow: none;
    font-size: 2.5em;
}
.highscore h1 span{
    text-shadow: 5px 5px white;
}
.highscore .input_box{
    font-family: 'Neucha', cursive;
    font-size: 1.5em;
    padding: 5px 10px;
    width: 130px;
    margin-right: 5px;
    border: 2px solid rgb(0,0,0);
}
.highscore .submit_button{
    background: #fff;
    padding: 9px 15px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border: none;
    font-family: 'Neucha', cursive;
    transform: rotate(-1deg);
}
.highscore .play_again_panel{
    display:none;
}
.highscore.show_play_again .play_again_panel{
    display:block;
}
.highscore.show_play_again .score_form{
    display:none;
}

.play_again_panel{
    text-align: center;
    font-size: 1.7em;

}
.play_again_panel .button_play_again{
    padding: 9px 15px;
    font-size: 0.8em;
    transform: rotate(-2deg);
}


.score_table{
    margin: 10px auto 0;
    height: 400px;
    overflow-y: scroll;
    height: 360px;
}
.score_table_tbl{
    width: 100%;
    font-size: 1.4em;
    border-collapse: collapse;
}
.score_table_tbl thead{
    line-height: 2em;
    font-weight: bold;
    color: #fff;
}
.score_table_tbl th{
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 15px;
    text-align: left;
    background-color: #000;
}
.score_table_tbl th:first-of-type{
    background-color:none;
}
.score_table_tbl th:nth-of-type(n+3){
    text-align: center;
}
.score_table_tbl tr td{
    background-color: rgba(255,255,255,0.1);
    margin-bottom: 5px;
    padding: 5px 15px;
    text-align: left;
}
.score_table_tbl tr:nth-of-type(2n) td{
    background-color: rgba(255,255,255,0.25);
}
.score_table_tbl tr td:nth-of-type(n+3){
    text-align: center;
}
.score_table_tbl tr td:first-of-type, .score_table_tbl thead th:first-of-type{
    padding-left:5px;
    padding-right:0;
    text-align:right;
}
.score_table_tbl tr.my_row td{
    background-color: #fff;
}